<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Portfolio</h1>
      <p class="lead text-muted">
        Demonstração de alguns projetos realizados em trabalho e treinamento pessoal
      </p>
      <!-- <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> -->
    </div>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let job of listJobs">
          <div class="card shadow-sm">
            <img src="../../assets/img/{{ job.image }}" title="" />

            <div class="card-body">
              <p class="card-text">{{ job.descricao }}</p>
              <div class="d-flex justify-content-end align-items-end">
                <small>
                  <a href="{{ job.link }}" [target]="job.target">{{ job.link_texto}}</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
